@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$font-stack: Raleway, sans-serif;
$fullShoeContainerHeight: 750px;


body {
  font-family: $font-stack;
  margin: 0;
}

.navbar {

  a {
    text-decoration: none;
    color: black;
  
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    width: 100%;
  }

  li {
    margin: 10px;
  }

  .navRight {
    display: flex;
    float: right;
  }
}

.shoesPage {

    /* The side navigation menu */
  .sidebar {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 230px;
    max-height: calc(100vh - 6rem);
    bottom: 0;
    overflow-y: auto;

    .sidebarCategoryTitle {
      padding: 4px;
    }

    a {
      display: block;
      color: black;
      padding: 4px;
      text-decoration: none;
    }
  }

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  

  .shoesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
  
    a {
      text-decoration: none;
      color: black;
    }
  }
  
  .thumbnailShoe {
    display: flex;
    text-align: center;
    width: 25%;
    margin: 20px;
  
    img {
      width: 100%;
    }
  }
}

.fullSizeShoeContainer {
  display: flex;
  justify-content: center;
  margin: 20px;

  .shoeImage {
    height: $fullShoeContainerHeight;
    border: 1px solid lightgray;
    border-radius: 10px;

  }

  .shoeName {
    font-size: 30px;
    font-weight: 100;
  }

  .shoeDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    font-size: 16px;
    height: $fullShoeContainerHeight;
    padding: 0px 60px 0px 60px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    border-left: 0px;

    .shoePrice {
      font-size: 22px;
      color: red;
    }
  }

  .siteLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    .linkLogo {
      align-items: center;
      width: 120px;
      margin: 10px;
    }
  }
}

.brandsContainer {
  .brandsTitle {
    text-align: center;
    font-size: 40px;
  }
  .brandsLogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 50px 0px 50px;
  
    .brandContainer {
      display: flex;
      align-items: center;
  
      .brandLogo {
        background-color: none;
        width: 125px;
        margin: 30px;
      }
    }
  }
}

.searchAndFilterElems {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;


  .searchBarContainer {
    display: flex;
    justify-content: center;
    position: relative;
  
    .searchInput {
      border: 2px solid lightgray;
      border-right: none;
      padding: 5px;
      font-size: 16px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-left: 12px;
  
      -webkit-appearance: none;
      -ms-appearance: none;
      -moz-appearance: none;
      appearance: none;
  
      &:focus {
        outline: none;
      }
    }

    .searchButton {
      background: none;
      border: 2px solid lightgray;
      color: black;
      font-size: 20px;
      border-left: none;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-right: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

    /* Dropdown Button */
    .dropbtn {
      background-color: #ffffff;
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }


    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 20px;

      div {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover {
          color: gray;
          cursor: pointer;
        }
      }
    }


    /* Show the dropdown menu on hover */
    &:hover {
      .dropdown-content {display: block;}
    }
  }

}

