@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400&display=swap');

$font-stack: Gothic A1, sans-serif;
$fullShoeContainerHeight: 750px;


body {
  font-family: $font-stack;
}

.navbar {

  a {
    text-decoration: none;
    color: black;
  
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    width: 100%;
  }

  li {
    margin: 10px;
  }

  .navRight {
    display: flex;
    float: right;
  }
}

.shoesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
  }
}

.singleShoeContainer {
  text-align: center;
  padding: 20px;
  width: 375px;
  margin: 20px;

  img {
    background-color:#F7F6F6;
  }
}

.fullSizeShoeContainer {
  display: flex;
  justify-content: center;
  margin: 20px;

  .shoeImage {
    height: $fullShoeContainerHeight;
    border: 1px solid lightgray;
    border-radius: 10px;
  }

  .shoeName {
    font-size: 30px;
  }

  .shoeDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    font-size: 20px;
    height: $fullShoeContainerHeight;
    padding: 0px 60px 0px 60px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    border-left: 0px;
  }

  .siteLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    .linkLogo {
      align-items: center;
      width: 120px;
      margin: 10px;
    }
  }
}

.brandsContainer {
  .brandsTitle {
    text-align: center;
    font-size: 40px;
  }
  .brandsLogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 50px 0px 50px;
  
    .brandContainer {
      display: flex;
      align-items: center;
  
      .brandLogo {
        background-color: none;
        width: 125px;
        margin: 30px;
      }
    }
  }
}